{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>StuntSolutions</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>



    </head>
    <body>
        <div class="navbar">
            <a href="\" style="text-decoration: none; color: inherit;">StuntSolutions</a>
            <a>|</a>
            <a href="/nearme" style="text-decoration: none; color: inherit;">Coaches</a>
            <a>|</a>
            <a href="/becomecoach" style="text-decoration: none; color: inherit;">Become A Coach</a>
        </div>


        {% block content %}
        {% endblock %}
    </body>
</html>

