{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/index.css' %}">

    <div class="form-box">
        <div class="header">
            <h1>FIND A CHEER COACH NEAR YOU</h1>
            <p>OUR GOAL IS TO HELP YOU REACH YOURS</p>
        </div>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>

{% endblock %}