{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">

</head>
<body>

     
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    

    {% for i in coaches %}
        <div class="container1">
            <div class="block">
                <img class="ProfilePic" src="{{i.profile_pic}}" alt="Profile Picture"/>
                <div class="info">
                    <h2>{{i.first_name}} {{i.last_name}}</h2>
                    <p class="contact">{{i.phone}}</p>
                    <p class="contact">{{i.email}}</p>
                    <p class="bio">{{i.bio}}</p>
                </div>
            </div>
        </div>
    {% endfor %}   
</body>
</html>