{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">

</head>
<body>

     
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    
    <div class="profile-container">
        {% for i in coaches %}
            
            <div class="profile-card">
                <div class="info-row"> <!-- Flex container for the top row -->
                    <div class="profile-pic-column">
                        <img class="ProfilePic" src="{{ i.profile_pic }}" alt="Profile Picture"/>
                    </div>
                    <div class="details-row">
                        <h2>{{ i.first_name }} {{ i.last_name }}</h2>
                        <p>{{i.zip_code}}</p>
                        <p>{{i.phone}}</p>
                        <p>{{i.email}}</p>
                        
                    </div>
                    <div class="icon-column">
                        <img class='icon' src="{% static 'price.png' %}">
                        <img class='icon' src="{% static 'canstunt.png' %}"></img>
                        <img class='icon' src="{% static 'tumbling.png' %}"></img>
                    </div>
                    <div class="icon-text-column">
                        <p>$100</p>
                        <p>COED</p>
                        <p>TUMBLING</p>
                    </div>
                    
                </div>
                <div class="bio-row"> <!-- Separate flex container for the bio -->
                    <p>{{ i.bio }}</p>
                </div>

            </div>
        {% endfor %}   
    </div>

</body>
</html>