/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open+Sans', sans-serif;
  background-color: black;
}


.profile-card {
    display: flex;
    align-items: center; /* Adjust alignment to top */
    background: #2D3250; /* Light background for the whole block */
    margin-bottom: 40px;
    margin-left: 40px; 
    margin-right: 40px;
    padding: 15px; 
    box-shadow: 1px 1px 2px #424769;/* Subtle shadow */
  }
  
.info-row {
    display: flex;
    padding: 15px;
    flex-wrap: nowrap;


  }
  
.profile-pic-column {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  
.ProfilePic {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 3px solid #ffffff;
  }
  
.details-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #a7a5a5;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
    padding-left: 10px;
  }
  
.details-column h2 {
    font-weight: bold;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    margin: 5px 0; /* Spacing for name and contact info */
  }

.details-column p {
    font-size: clamp(0.8rem, 4vw, 0.8rem);
    margin: 5px 0; /* Spacing for name and contact info */
  }
  
.bio-row {
    background-color: #424769; /* Light blue for bio background */
    color: #a7a5a5; /* White text for bio */
    font-size: 1em;
    padding: 15px; /* Padding inside bio */
    border-radius: 5px; /* Rounded corners for bio section */
    margin-top: 10px; /* Space above bio */
  }
  
@media screen and (max-width: 768px) {
    .info-row, .bio-row, .details-column, .profile-pic-column {
        display: flex;
        flex-wrap: nowrap;

        text-align: start; /* Center-align text */
    }

    .profile-pic-column {
        margin-bottom: 10px; /* Add space between the image and the details below */
    }

    .profile-card {
        margin-left: 20px; /* Decrease side margins on smaller screens */
        margin-right: 20px;
        flex-wrap: wrap;
    }
}
