/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: 'Open+Sans', sans-serif;
  background-color: black;
}


.profile-card {
    display: flex;
    align-items: flex-start; /* Adjust alignment to top */
    background: #2D3250; /* Light background for the whole block */
    border: 3px solid #ffffff; /* Darker border */
    margin-bottom: 40px;
    margin-left: 40px; 
    margin-right: 40px;
    padding: 15px; 
    box-shadow: 12px 12px 0px 1px #424769;/* Subtle shadow */
  }
  
.info-row {
    display: flex;
    padding: 15px;
  }
  
.profile-pic-column {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Space between the picture and the details */
  }
  
.ProfilePic {
    
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 3px solid #ffffff;
  }
  
.details-column {
    
    display: flex;
    flex-direction: column;
    color: #a7a5a5;
    justify-content: center;
    font-weight: bold;
    padding: 2px;
  }
  
.details-column h2,
.details-column p {
    margin: 5px 0; /* Spacing for name and contact info */
  }
  
.bio-row {
    background-color: #424769; /* Light blue for bio background */
    color: #a7a5a5; /* White text for bio */
    font-size: 1em;
    padding: 15px; /* Padding inside bio */
    border-radius: 5px; /* Rounded corners for bio section */
    margin-top: 10px; /* Space above bio */
  }
  
